/*!

 =========================================================
 * Now UI Dashboard - v1.3.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/now-ui-dashboard
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY{-webkit-animation-duration:.75s;animation-duration:.75s}@-webkit-keyframes shake{0%,to{transform:translateZ(0)}10%,30%,50%,70%,90%{transform:translate3d(-10px,0,0)}20%,40%,60%,80%{transform:translate3d(10px,0,0)}}@keyframes shake{0%,to{transform:translateZ(0)}10%,30%,50%,70%,90%{transform:translate3d(-10px,0,0)}20%,40%,60%,80%{transform:translate3d(10px,0,0)}}.shake{-webkit-animation-name:shake;animation-name:shake}@-webkit-keyframes fadeInDown{0%{opacity:0;transform:translate3d(0,-100%,0)}to{opacity:1;transform:none}}@keyframes fadeInDown{0%{opacity:0;transform:translate3d(0,-100%,0)}to{opacity:1;transform:none}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes fadeOut{0%{opacity:1}to{opacity:0}}@keyframes fadeOut{0%{opacity:1}to{opacity:0}}.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOutDown{0%{opacity:1}to{opacity:0;transform:translate3d(0,100%,0)}}@keyframes fadeOutDown{0%{opacity:1}to{opacity:0;transform:translate3d(0,100%,0)}}.fadeOutDown{-webkit-animation-name:fadeOutDown;animation-name:fadeOutDown}@-webkit-keyframes fadeOutUp{0%{opacity:1}to{opacity:0;transform:translate3d(0,-100%,0)}}@keyframes fadeOutUp{0%{opacity:1}to{opacity:0;transform:translate3d(0,-100%,0)}}.fadeOutUp{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp}.ps{overflow:hidden!important;overflow-anchor:none;-ms-overflow-style:none;touch-action:auto;-ms-touch-action:auto}.ps__rail-x{height:15px;bottom:0}.ps__rail-x,.ps__rail-y{display:none;opacity:0;transition:background-color .2s linear,opacity .2s linear;-webkit-transition:background-color .2s linear,opacity .2s linear;position:absolute}.ps__rail-y{width:15px;right:0}.ps--active-x>.ps__rail-x,.ps--active-y>.ps__rail-y{display:block;background-color:transparent}.ps--focus>.ps__rail-x,.ps--focus>.ps__rail-y,.ps--scrolling-x>.ps__rail-x,.ps--scrolling-y>.ps__rail-y,.ps:hover>.ps__rail-x,.ps:hover>.ps__rail-y{opacity:.6}.ps .ps__rail-x.ps--clicking,.ps .ps__rail-x:focus,.ps .ps__rail-x:hover,.ps .ps__rail-y.ps--clicking,.ps .ps__rail-y:focus,.ps .ps__rail-y:hover{background-color:#eee;opacity:.9}.ps__thumb-x{transition:background-color .2s linear,height .2s ease-in-out;-webkit-transition:background-color .2s linear,height .2s ease-in-out;height:6px;bottom:2px}.ps__thumb-x,.ps__thumb-y{background-color:#aaa;border-radius:6px;position:absolute}.ps__thumb-y{transition:background-color .2s linear,width .2s ease-in-out;-webkit-transition:background-color .2s linear,width .2s ease-in-out;width:6px;right:2px}.ps__rail-x.ps--clicking .ps__thumb-x,.ps__rail-x:focus>.ps__thumb-x,.ps__rail-x:hover>.ps__thumb-x{background-color:#999;height:11px}.ps__rail-y.ps--clicking .ps__thumb-y,.ps__rail-y:focus>.ps__thumb-y,.ps__rail-y:hover>.ps__thumb-y{background-color:#999;width:11px}@supports (-ms-overflow-style:none){.ps{overflow:auto!important}}@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active){.ps{overflow:auto!important}}.btn,.navbar .navbar-nav>a.btn{font-weight:400;font-size:.8571em;line-height:1.35em;border:none;margin:10px 1px;border-radius:.1875rem;padding:11px 22px;cursor:pointer;background-color:#888;color:#fff}.btn.active:hover,.btn:active:hover,.btn:focus,.btn:hover,.btn:not(:disabled):not(.disabled).active,.btn:not(:disabled):not(.disabled).active:focus,.btn:not(:disabled):not(.disabled):active,.btn:not(:disabled):not(.disabled):active:focus,.navbar .navbar-nav>a.btn.active:hover,.navbar .navbar-nav>a.btn:active:hover,.navbar .navbar-nav>a.btn:focus,.navbar .navbar-nav>a.btn:hover,.navbar .navbar-nav>a.btn:not(:disabled):not(.disabled).active,.navbar .navbar-nav>a.btn:not(:disabled):not(.disabled).active:focus,.navbar .navbar-nav>a.btn:not(:disabled):not(.disabled):active,.navbar .navbar-nav>a.btn:not(:disabled):not(.disabled):active:focus,.show>.btn.dropdown-toggle,.show>.btn.dropdown-toggle:focus,.show>.btn.dropdown-toggle:hover,.show>.navbar .navbar-nav>a.btn.dropdown-toggle,.show>.navbar .navbar-nav>a.btn.dropdown-toggle:focus,.show>.navbar .navbar-nav>a.btn.dropdown-toggle:hover{background-color:#979797;color:#fff;box-shadow:none;border-color:#979797}.btn:not([data-action]):not([class*=btn-outline-]):hover,.navbar .navbar-nav>a.btn:not([data-action]):not([class*=btn-outline-]):hover{box-shadow:0 3px 8px 0 rgba(0,0,0,.17)}.btn.disabled,.btn.disabled.active,.btn.disabled.focus,.btn.disabled:active,.btn.disabled:focus,.btn.disabled:hover,.btn:disabled,.btn:disabled.active,.btn:disabled.focus,.btn:disabled:active,.btn:disabled:focus,.btn:disabled:hover,.btn[disabled],.btn[disabled].active,.btn[disabled].focus,.btn[disabled]:active,.btn[disabled]:focus,.btn[disabled]:hover,.navbar .navbar-nav>a.btn.disabled,.navbar .navbar-nav>a.btn.disabled.active,.navbar .navbar-nav>a.btn.disabled.focus,.navbar .navbar-nav>a.btn.disabled:active,.navbar .navbar-nav>a.btn.disabled:focus,.navbar .navbar-nav>a.btn.disabled:hover,.navbar .navbar-nav>a.btn:disabled,.navbar .navbar-nav>a.btn:disabled.active,.navbar .navbar-nav>a.btn:disabled.focus,.navbar .navbar-nav>a.btn:disabled:active,.navbar .navbar-nav>a.btn:disabled:focus,.navbar .navbar-nav>a.btn:disabled:hover,.navbar .navbar-nav>a.btn[disabled],.navbar .navbar-nav>a.btn[disabled].active,.navbar .navbar-nav>a.btn[disabled].focus,.navbar .navbar-nav>a.btn[disabled]:active,.navbar .navbar-nav>a.btn[disabled]:focus,.navbar .navbar-nav>a.btn[disabled]:hover,fieldset[disabled] .btn,fieldset[disabled] .btn.active,fieldset[disabled] .btn.focus,fieldset[disabled] .btn:active,fieldset[disabled] .btn:focus,fieldset[disabled] .btn:hover,fieldset[disabled] .navbar .navbar-nav>a.btn,fieldset[disabled] .navbar .navbar-nav>a.btn.active,fieldset[disabled] .navbar .navbar-nav>a.btn.focus,fieldset[disabled] .navbar .navbar-nav>a.btn:active,fieldset[disabled] .navbar .navbar-nav>a.btn:focus,fieldset[disabled] .navbar .navbar-nav>a.btn:hover{background-color:#888;border-color:#888}.btn.btn-link,.navbar .navbar-nav>a.btn.btn-link{color:#888}.btn.btn-link:active,.btn.btn-link:focus,.btn.btn-link:hover,.navbar .navbar-nav>a.btn.btn-link:active,.navbar .navbar-nav>a.btn.btn-link:focus,.navbar .navbar-nav>a.btn.btn-link:hover{background-color:transparent;color:#979797;text-decoration:none;box-shadow:none}.btn:focus,.btn:hover,.navbar .navbar-nav>a.btn:focus,.navbar .navbar-nav>a.btn:hover{opacity:1;filter:alpha(opacity=100);outline:0!important}.btn.active,.btn:active,.navbar .navbar-nav>a.btn.active,.navbar .navbar-nav>a.btn:active,.open>.btn.dropdown-toggle,.open>.navbar .navbar-nav>a.btn.dropdown-toggle{box-shadow:none;outline:0!important}.btn .badge,.navbar .navbar-nav>a.btn .badge{margin:0}.btn.btn-icon,.navbar .navbar-nav>a.btn.btn-icon{height:2.375rem;min-width:2.375rem;width:2.375rem;padding:0;font-size:.9375rem;overflow:hidden;position:relative;line-height:normal}.btn.btn-icon[class*=btn-outline-],.navbar .navbar-nav>a.btn.btn-icon[class*=btn-outline-]{padding:0!important}.btn.btn-icon.btn-sm,.navbar .navbar-nav>a.btn.btn-icon.btn-sm{height:1.875rem;min-width:1.875rem;width:1.875rem}.btn.btn-icon.btn-sm .fa,.btn.btn-icon.btn-sm .far,.btn.btn-icon.btn-sm .fas,.btn.btn-icon.btn-sm .now-ui-icons,.navbar .navbar-nav>a.btn.btn-icon.btn-sm .fa,.navbar .navbar-nav>a.btn.btn-icon.btn-sm .far,.navbar .navbar-nav>a.btn.btn-icon.btn-sm .fas,.navbar .navbar-nav>a.btn.btn-icon.btn-sm .now-ui-icons{font-size:.6875rem}.btn.btn-icon.btn-lg,.navbar .navbar-nav>a.btn.btn-icon.btn-lg{height:3.6rem;min-width:3.6rem;width:3.6rem}.btn.btn-icon.btn-lg .fa,.btn.btn-icon.btn-lg .far,.btn.btn-icon.btn-lg .fas,.btn.btn-icon.btn-lg .now-ui-icons,.navbar .navbar-nav>a.btn.btn-icon.btn-lg .fa,.navbar .navbar-nav>a.btn.btn-icon.btn-lg .far,.navbar .navbar-nav>a.btn.btn-icon.btn-lg .fas,.navbar .navbar-nav>a.btn.btn-icon.btn-lg .now-ui-icons{font-size:1.325rem}.btn.btn-icon:not(.btn-footer) .fa,.btn.btn-icon:not(.btn-footer) .far,.btn.btn-icon:not(.btn-footer) .fas,.btn.btn-icon:not(.btn-footer) .now-ui-icons,.navbar .navbar-nav>a.btn.btn-icon:not(.btn-footer) .fa,.navbar .navbar-nav>a.btn.btn-icon:not(.btn-footer) .far,.navbar .navbar-nav>a.btn.btn-icon:not(.btn-footer) .fas,.navbar .navbar-nav>a.btn.btn-icon:not(.btn-footer) .now-ui-icons{position:absolute;top:50%;left:50%;transform:translate(-12px,-12px);line-height:1.5626rem;width:24px}.btn:not(.btn-icon) .now-ui-icons,.navbar .navbar-nav>a.btn:not(.btn-icon) .now-ui-icons{position:relative;top:1px}.btn-primary{background-color:#00b84a;color:#fff}.btn-primary.active:hover,.btn-primary:active:hover,.btn-primary:focus,.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle,.show>.btn-primary.dropdown-toggle:focus,.show>.btn-primary.dropdown-toggle:hover{background-color:#00d756;color:#fff;box-shadow:none;border-color:#00d756}.btn-primary:not([data-action]):not([class*=btn-outline-]):hover{box-shadow:0 3px 8px 0 rgba(0,0,0,.17)}.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary:disabled,.btn-primary:disabled.active,.btn-primary:disabled.focus,.btn-primary:disabled:active,.btn-primary:disabled:focus,.btn-primary:disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:#00b84a;border-color:#00b84a}.btn-primary.btn-link{color:#00b84a}.btn-primary.btn-link:active,.btn-primary.btn-link:focus,.btn-primary.btn-link:hover{background-color:transparent;color:#00d756;text-decoration:none;box-shadow:none}.btn-success{background-color:#00b84a;color:#fff}.btn-success.active:hover,.btn-success:active:hover,.btn-success:focus,.btn-success:hover,.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active,.btn-success:not(:disabled):not(.disabled):active:focus,.show>.btn-success.dropdown-toggle,.show>.btn-success.dropdown-toggle:focus,.show>.btn-success.dropdown-toggle:hover{background-color:#00d756;color:#fff;box-shadow:none;border-color:#00d756}.btn-success:not([data-action]):not([class*=btn-outline-]):hover{box-shadow:0 3px 8px 0 rgba(0,0,0,.17)}.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled.focus,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success:disabled,.btn-success:disabled.active,.btn-success:disabled.focus,.btn-success:disabled:active,.btn-success:disabled:focus,.btn-success:disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled].focus,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:#00b84a;border-color:#00b84a}.btn-success.btn-link{color:#00b84a}.btn-success.btn-link:active,.btn-success.btn-link:focus,.btn-success.btn-link:hover{background-color:transparent;color:#00d756;text-decoration:none;box-shadow:none}.btn-info{background-color:#2ca8ff;color:#fff}.btn-info.active:hover,.btn-info:active:hover,.btn-info:focus,.btn-info:hover,.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active,.btn-info:not(:disabled):not(.disabled):active:focus,.show>.btn-info.dropdown-toggle,.show>.btn-info.dropdown-toggle:focus,.show>.btn-info.dropdown-toggle:hover{background-color:#4bb5ff;color:#fff;box-shadow:none;border-color:#4bb5ff}.btn-info:not([data-action]):not([class*=btn-outline-]):hover{box-shadow:0 3px 8px 0 rgba(0,0,0,.17)}.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled.focus,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info:disabled,.btn-info:disabled.active,.btn-info:disabled.focus,.btn-info:disabled:active,.btn-info:disabled:focus,.btn-info:disabled:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled].focus,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover{background-color:#2ca8ff;border-color:#2ca8ff}.btn-info.btn-link{color:#2ca8ff}.btn-info.btn-link:active,.btn-info.btn-link:focus,.btn-info.btn-link:hover{background-color:transparent;color:#4bb5ff;text-decoration:none;box-shadow:none}.btn-warning{background-color:#ffb236;color:#fff}.btn-warning.active:hover,.btn-warning:active:hover,.btn-warning:focus,.btn-warning:hover,.btn-warning:not(:disabled):not(.disabled).active,.btn-warning:not(:disabled):not(.disabled).active:focus,.btn-warning:not(:disabled):not(.disabled):active,.btn-warning:not(:disabled):not(.disabled):active:focus,.show>.btn-warning.dropdown-toggle,.show>.btn-warning.dropdown-toggle:focus,.show>.btn-warning.dropdown-toggle:hover{background-color:#ffbe55;color:#fff;box-shadow:none;border-color:#ffbe55}.btn-warning:not([data-action]):not([class*=btn-outline-]):hover{box-shadow:0 3px 8px 0 rgba(0,0,0,.17)}.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled.focus,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning:disabled,.btn-warning:disabled.active,.btn-warning:disabled.focus,.btn-warning:disabled:active,.btn-warning:disabled:focus,.btn-warning:disabled:hover,.btn-warning[disabled],.btn-warning[disabled].active,.btn-warning[disabled].focus,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover{background-color:#ffb236;border-color:#ffb236}.btn-warning.btn-link{color:#ffb236}.btn-warning.btn-link:active,.btn-warning.btn-link:focus,.btn-warning.btn-link:hover{background-color:transparent;color:#ffbe55;text-decoration:none;box-shadow:none}.btn-danger{background-color:#ff3636;color:#fff}.btn-danger.active:hover,.btn-danger:active:hover,.btn-danger:focus,.btn-danger:hover,.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active,.btn-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-danger.dropdown-toggle,.show>.btn-danger.dropdown-toggle:focus,.show>.btn-danger.dropdown-toggle:hover{background-color:#f55;color:#fff;box-shadow:none;border-color:#f55}.btn-danger:not([data-action]):not([class*=btn-outline-]):hover{box-shadow:0 3px 8px 0 rgba(0,0,0,.17)}.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled.focus,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger:disabled,.btn-danger:disabled.active,.btn-danger:disabled.focus,.btn-danger:disabled:active,.btn-danger:disabled:focus,.btn-danger:disabled:hover,.btn-danger[disabled],.btn-danger[disabled].active,.btn-danger[disabled].focus,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{background-color:#ff3636;border-color:#ff3636}.btn-danger.btn-link{color:#ff3636}.btn-danger.btn-link:active,.btn-danger.btn-link:focus,.btn-danger.btn-link:hover{background-color:transparent;color:#f55;text-decoration:none;box-shadow:none}.btn-neutral{background-color:#fff;color:#00b84a}.btn-neutral.active:hover,.btn-neutral:active:hover,.btn-neutral:focus,.btn-neutral:hover,.btn-neutral:not(:disabled):not(.disabled).active,.btn-neutral:not(:disabled):not(.disabled).active:focus,.btn-neutral:not(:disabled):not(.disabled):active,.btn-neutral:not(:disabled):not(.disabled):active:focus,.show>.btn-neutral.dropdown-toggle,.show>.btn-neutral.dropdown-toggle:focus,.show>.btn-neutral.dropdown-toggle:hover{background-color:#fff;color:#fff;box-shadow:none;border-color:#fff}.btn-neutral:not([data-action]):not([class*=btn-outline-]):hover{box-shadow:0 3px 8px 0 rgba(0,0,0,.17)}.btn-neutral.disabled,.btn-neutral.disabled.active,.btn-neutral.disabled.focus,.btn-neutral.disabled:active,.btn-neutral.disabled:focus,.btn-neutral.disabled:hover,.btn-neutral:disabled,.btn-neutral:disabled.active,.btn-neutral:disabled.focus,.btn-neutral:disabled:active,.btn-neutral:disabled:focus,.btn-neutral:disabled:hover,.btn-neutral[disabled],.btn-neutral[disabled].active,.btn-neutral[disabled].focus,.btn-neutral[disabled]:active,.btn-neutral[disabled]:focus,.btn-neutral[disabled]:hover,fieldset[disabled] .btn-neutral,fieldset[disabled] .btn-neutral.active,fieldset[disabled] .btn-neutral.focus,fieldset[disabled] .btn-neutral:active,fieldset[disabled] .btn-neutral:focus,fieldset[disabled] .btn-neutral:hover{background-color:#fff;border-color:#fff}.btn-neutral.btn-danger{color:#ff3636}.btn-neutral.btn-danger:active,.btn-neutral.btn-danger:active:focus,.btn-neutral.btn-danger:focus,.btn-neutral.btn-danger:hover{color:#f55!important}.btn-neutral.btn-info{color:#2ca8ff}.btn-neutral.btn-info:active,.btn-neutral.btn-info:active:focus,.btn-neutral.btn-info:focus,.btn-neutral.btn-info:hover{color:#4bb5ff!important}.btn-neutral.btn-warning{color:#ffb236}.btn-neutral.btn-warning:active,.btn-neutral.btn-warning:active:focus,.btn-neutral.btn-warning:focus,.btn-neutral.btn-warning:hover{color:#ffbe55!important}.btn-neutral.btn-success{color:#00b84a}.btn-neutral.btn-success:active,.btn-neutral.btn-success:active:focus,.btn-neutral.btn-success:focus,.btn-neutral.btn-success:hover{color:#00d756!important}.btn-neutral.btn-default{color:#888}.btn-neutral.btn-default:active,.btn-neutral.btn-default:active:focus,.btn-neutral.btn-default:focus,.btn-neutral.btn-default:hover{color:#979797!important}.btn-neutral.active,.btn-neutral.active:focus,.btn-neutral.active:hover,.btn-neutral:active,.btn-neutral:active:focus,.btn-neutral:active:hover,.show>.btn-neutral.dropdown-toggle,.show>.btn-neutral.dropdown-toggle:focus,.show>.btn-neutral.dropdown-toggle:hover{background-color:#fff;color:#00d756!important;box-shadow:none}.btn-neutral:focus,.btn-neutral:hover{color:#00d756}.btn-neutral:focus:not(.nav-link),.btn-neutral:hover:not(.nav-link){box-shadow:none!important}.btn-neutral.btn-link{color:#fff}.btn-neutral.btn-link:active,.btn-neutral.btn-link:focus,.btn-neutral.btn-link:hover{background-color:transparent;color:#fff;text-decoration:none;box-shadow:none}.btn-outline-primary{color:#00b84a;border-color:#00b84a}.btn-outline-primary.active:hover,.btn-outline-primary:active:hover,.btn-outline-primary:focus,.btn-outline-primary:hover,.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-primary.dropdown-toggle,.show>.btn-outline-primary.dropdown-toggle:focus,.show>.btn-outline-primary.dropdown-toggle:hover{background-color:transparent;color:#00d756;border-color:#00d756;box-shadow:none}.btn-outline-success{color:#00b84a;border-color:#00b84a}.btn-outline-success.active:hover,.btn-outline-success:active:hover,.btn-outline-success:focus,.btn-outline-success:hover,.btn-outline-success:not(:disabled):not(.disabled).active,.btn-outline-success:not(:disabled):not(.disabled).active:focus,.btn-outline-success:not(:disabled):not(.disabled):active,.btn-outline-success:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-success.dropdown-toggle,.show>.btn-outline-success.dropdown-toggle:focus,.show>.btn-outline-success.dropdown-toggle:hover{background-color:transparent;color:#00d756;border-color:#00d756;box-shadow:none}.btn-outline-info{color:#2ca8ff;border-color:#2ca8ff}.btn-outline-info.active:hover,.btn-outline-info:active:hover,.btn-outline-info:focus,.btn-outline-info:hover,.btn-outline-info:not(:disabled):not(.disabled).active,.btn-outline-info:not(:disabled):not(.disabled).active:focus,.btn-outline-info:not(:disabled):not(.disabled):active,.btn-outline-info:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-info.dropdown-toggle,.show>.btn-outline-info.dropdown-toggle:focus,.show>.btn-outline-info.dropdown-toggle:hover{background-color:transparent;color:#4bb5ff;border-color:#4bb5ff;box-shadow:none}.btn-outline-warning{color:#ffb236;border-color:#ffb236}.btn-outline-warning.active:hover,.btn-outline-warning:active:hover,.btn-outline-warning:focus,.btn-outline-warning:hover,.btn-outline-warning:not(:disabled):not(.disabled).active,.btn-outline-warning:not(:disabled):not(.disabled).active:focus,.btn-outline-warning:not(:disabled):not(.disabled):active,.btn-outline-warning:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-warning.dropdown-toggle,.show>.btn-outline-warning.dropdown-toggle:focus,.show>.btn-outline-warning.dropdown-toggle:hover{background-color:transparent;color:#ffbe55;border-color:#ffbe55;box-shadow:none}.btn-outline-danger{color:#ff3636;border-color:#ff3636}.btn-outline-danger.active:hover,.btn-outline-danger:active:hover,.btn-outline-danger:focus,.btn-outline-danger:hover,.btn-outline-danger:not(:disabled):not(.disabled).active,.btn-outline-danger:not(:disabled):not(.disabled).active:focus,.btn-outline-danger:not(:disabled):not(.disabled):active,.btn-outline-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-danger.dropdown-toggle,.show>.btn-outline-danger.dropdown-toggle:focus,.show>.btn-outline-danger.dropdown-toggle:hover{background-color:transparent;color:#f55;border-color:#f55;box-shadow:none}.btn-outline-default{color:#888;border-color:#888}.btn-outline-default.active:hover,.btn-outline-default:active:hover,.btn-outline-default:focus,.btn-outline-default:hover,.btn-outline-default:not(:disabled):not(.disabled).active,.btn-outline-default:not(:disabled):not(.disabled).active:focus,.btn-outline-default:not(:disabled):not(.disabled):active,.btn-outline-default:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-default.dropdown-toggle,.show>.btn-outline-default.dropdown-toggle:focus,.show>.btn-outline-default.dropdown-toggle:hover{background-color:transparent;color:#979797;border-color:#979797;box-shadow:none}.btn.disabled,.btn:disabled,.btn[disabled]{opacity:.5;filter:alpha(opacity=50);pointer-events:none}[class*=btn-outline-]{border:1px solid;padding:10px 22px}.btn-link,.btn-link.disabled,.btn-link.disabled.active,.btn-link.disabled.focus,.btn-link.disabled:active,.btn-link.disabled:focus,.btn-link.disabled:hover,.btn-link:disabled,.btn-link:disabled.active,.btn-link:disabled.focus,.btn-link:disabled:active,.btn-link:disabled:focus,.btn-link:disabled:hover,.btn-link[disabled],.btn-link[disabled].active,.btn-link[disabled].focus,.btn-link[disabled]:active,.btn-link[disabled]:focus,.btn-link[disabled]:hover,[class*=btn-outline-],[class*=btn-outline-].disabled,[class*=btn-outline-].disabled.active,[class*=btn-outline-].disabled.focus,[class*=btn-outline-].disabled:active,[class*=btn-outline-].disabled:focus,[class*=btn-outline-].disabled:hover,[class*=btn-outline-]:disabled,[class*=btn-outline-]:disabled.active,[class*=btn-outline-]:disabled.focus,[class*=btn-outline-]:disabled:active,[class*=btn-outline-]:disabled:focus,[class*=btn-outline-]:disabled:hover,[class*=btn-outline-][disabled],[class*=btn-outline-][disabled].active,[class*=btn-outline-][disabled].focus,[class*=btn-outline-][disabled]:active,[class*=btn-outline-][disabled]:focus,[class*=btn-outline-][disabled]:hover,fieldset[disabled] .btn-link,fieldset[disabled] .btn-link.active,fieldset[disabled] .btn-link.focus,fieldset[disabled] .btn-link:active,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover,fieldset[disabled] [class*=btn-outline-],fieldset[disabled] [class*=btn-outline-].active,fieldset[disabled] [class*=btn-outline-].focus,fieldset[disabled] [class*=btn-outline-]:active,fieldset[disabled] [class*=btn-outline-]:focus,fieldset[disabled] [class*=btn-outline-]:hover{background-color:transparent}.btn-link{border:0;padding:.5rem .7rem}.btn-lg{font-size:1em;border-radius:.25rem;padding:15px 48px}.btn-lg[class*=btn-outline-]{padding:14px 47px}.btn-sm{font-size:14px;border-radius:.1875rem;padding:5px 15px}.btn-sm[class*=btn-outline-]{padding:4px 14px}.btn-wd{min-width:140px}.btn-group.select{width:100%}.btn-group.select .btn{text-align:left}.btn-group.select .caret{position:absolute;top:50%;margin-top:-1px;right:8px}.btn-round{border-width:1px;border-radius:30px;padding-right:23px;padding-left:23px}.btn-round.btn-simple:not(.btn-sm):not(.btn-lg){padding:10px 22px}.no-caret.dropdown-toggle:after{display:none}.form-control:-moz-placeholder,.form-control::-moz-placeholder{color:#888;opacity:1;filter:alpha(opacity=100)}.form-control::-webkit-input-placeholder{color:#888;opacity:1;filter:alpha(opacity=100)}.form-control:-ms-input-placeholder{color:#888;opacity:1;filter:alpha(opacity=100)}.form-control{background-color:transparent;border:1px solid #e3e3e3;border-radius:30px;color:#2c2c2c;line-height:normal;height:auto;font-size:.8571em;transition:color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;box-shadow:none}.form-control:focus{border:1px solid #00b84a;box-shadow:none;outline:0!important;color:#2c2c2c}.form-control:focus+.input-group-append .input-group-text,.form-control:focus+.input-group-prepend .input-group-text,.form-control:focus~.input-group-append .input-group-text,.form-control:focus~.input-group-prepend .input-group-text{border:1px solid #00b84a;border-left:none;background-color:transparent}.has-error .form-control,.has-error .form-control:focus,.has-success .form-control,.has-success .form-control:focus{box-shadow:none}.has-danger .form-control.form-control-danger,.has-danger .form-control.form-control-success,.has-success .form-control.form-control-danger,.has-success .form-control.form-control-success{background-image:none}.form-control+.form-control-feedback{border-radius:.25rem;font-size:14px;margin-top:-7px;position:absolute;right:10px;top:50%;vertical-align:middle}.open .form-control{border-radius:.25rem .25rem 0 0;border-bottom-color:transparent}.form-control+.input-group-append .input-group-text,.form-control+.input-group-prepend .input-group-text{background-color:#fff}.has-success .form-control,.has-success .input-group-append .input-group-text,.has-success .input-group-prepend .input-group-text{border-color:#e3e3e3}.has-success .form-control:focus,.has-success.input-group-focus .input-group-append .input-group-text,.has-success.input-group-focus .input-group-prepend .input-group-text{border-color:#00d254}.has-danger .form-control,.has-danger .input-group-append .input-group-text,.has-danger.input-group-focus .input-group-append .input-group-text,.has-danger.input-group-focus .input-group-prepend .input-group-text,.has-danger .input-group-prepend .input-group-text{border-color:#ffcfcf;color:#ff3636;background-color:hsla(0,0%,87.1%,.1)}.has-danger .form-control:focus,.has-danger .input-group-append .input-group-text:focus,.has-danger.input-group-focus .input-group-append .input-group-text:focus,.has-danger.input-group-focus .input-group-prepend .input-group-text:focus,.has-danger .input-group-prepend .input-group-text:focus{background-color:#fff}.has-danger:after,.has-success:after{font-family:Nucleo Outline;content:"\EA22";display:inline-block;position:absolute;right:20px;bottom:10px;color:#00b84a;font-size:11px}.has-danger.form-control-lg:after,.has-success.form-control-lg:after{font-size:13px;top:24px}.has-danger.has-label:after,.has-success.has-label:after{top:35px}.has-danger.form-check .form-check-label label,.has-danger.form-check:after,.has-danger .form-control+label,.has-success.form-check .form-check-label label,.has-success.form-check:after,.has-success .form-control+label{display:none!important}.has-danger.form-check .form-check-label,.has-success.form-check .form-check-label{color:#00b84a}.has-danger:after{content:"\EA53";color:#ff3636}.has-danger.form-check .form-check-label{color:#ff3636}.form-group.no-border.form-control-lg .input-group-append .input-group-text,.input-group.no-border.form-control-lg .input-group-append .input-group-text{padding:15px 0 15px 19px}.form-group.no-border.form-control-lg .form-control,.input-group.no-border.form-control-lg .form-control{padding:15px 19px}.form-group.no-border.form-control-lg .form-control+.input-group-append .input-group-text,.form-group.no-border.form-control-lg .form-control+.input-group-prepend .input-group-text,.input-group.no-border.form-control-lg .form-control+.input-group-append .input-group-text,.input-group.no-border.form-control-lg .form-control+.input-group-prepend .input-group-text{padding:15px 19px 15px 0}.form-group.form-control-lg .form-control,.input-group.form-control-lg .form-control{padding:14px 18px}.form-group.form-control-lg .form-control+.input-group-append .input-group-text,.form-group.form-control-lg .form-control+.input-group-prepend .input-group-text,.input-group.form-control-lg .form-control+.input-group-append .input-group-text,.input-group.form-control-lg .form-control+.input-group-prepend .input-group-text{padding:14px 18px 14px 0}.form-group.form-control-lg .input-group-append .input-group-text,.form-group.form-control-lg .input-group-prepend .input-group-text,.input-group.form-control-lg .input-group-append .input-group-text,.input-group.form-control-lg .input-group-prepend .input-group-text{padding:14px 0 15px 18px}.form-group.form-control-lg .input-group-append .input-group-text+.form-control,.form-group.form-control-lg .input-group-prepend .input-group-text+.form-control,.input-group.form-control-lg .input-group-append .input-group-text+.form-control,.input-group.form-control-lg .input-group-prepend .input-group-text+.form-control{padding:15px 18px 15px 16px}.form-group.no-border .form-control,.input-group.no-border .form-control{padding:11px 19px}.form-group.no-border .form-control+.input-group-append .input-group-text,.form-group.no-border .form-control+.input-group-prepend .input-group-text,.input-group.no-border .form-control+.input-group-append .input-group-text,.input-group.no-border .form-control+.input-group-prepend .input-group-text{padding:11px 19px 11px 0}.form-group.no-border .input-group-append .input-group-text,.form-group.no-border .input-group-prepend .input-group-text,.input-group.no-border .input-group-append .input-group-text,.input-group.no-border .input-group-prepend .input-group-text{padding:11px 0 11px 19px}.form-group .form-control,.input-group .form-control{padding:10px 18px}.form-group .form-control+.input-group-append .input-group-text,.form-group .form-control+.input-group-prepend .input-group-text,.input-group .form-control+.input-group-append .input-group-text,.input-group .form-control+.input-group-prepend .input-group-text{padding:10px 18px 10px 0}.form-group .input-group-append .input-group-text,.form-group .input-group-prepend .input-group-text,.input-group .input-group-append .input-group-text,.input-group .input-group-prepend .input-group-text{padding:10px 0 10px 18px}.form-group .input-group-append .input-group-text+.form-control,.form-group .input-group-append .input-group-text~.form-control,.form-group .input-group-prepend .input-group-text+.form-control,.form-group .input-group-prepend .input-group-text~.form-control,.input-group .input-group-append .input-group-text+.form-control,.input-group .input-group-append .input-group-text~.form-control,.input-group .input-group-prepend .input-group-text+.form-control,.input-group .input-group-prepend .input-group-text~.form-control{padding:10px 19px 11px 16px}.form-group.no-border .form-control,.form-group.no-border .form-control+.input-group-append .input-group-text,.form-group.no-border .form-control+.input-group-prepend .input-group-text,.input-group.no-border .form-control,.input-group.no-border .form-control+.input-group-append .input-group-text,.input-group.no-border .form-control+.input-group-prepend .input-group-text{background-color:hsla(0,0%,87.1%,.3);border:none}.form-group.no-border .form-control+.input-group-append .input-group-text:active,.form-group.no-border .form-control+.input-group-append .input-group-text:focus,.form-group.no-border .form-control+.input-group-prepend .input-group-text:active,.form-group.no-border .form-control+.input-group-prepend .input-group-text:focus,.form-group.no-border .form-control:active,.form-group.no-border .form-control:focus,.input-group.no-border .form-control+.input-group-append .input-group-text:active,.input-group.no-border .form-control+.input-group-append .input-group-text:focus,.input-group.no-border .form-control+.input-group-prepend .input-group-text:active,.input-group.no-border .form-control+.input-group-prepend .input-group-text:focus,.input-group.no-border .form-control:active,.input-group.no-border .form-control:focus{border:none;background-color:hsla(0,0%,87.1%,.5)}.form-group.no-border .form-control:focus+.input-group-append .input-group-text,.form-group.no-border .form-control:focus+.input-group-prepend .input-group-text,.input-group.no-border .form-control:focus+.input-group-append .input-group-text,.input-group.no-border .form-control:focus+.input-group-prepend .input-group-text{background-color:hsla(0,0%,87.1%,.5)}.form-group.no-border .input-group-append .input-group-text,.form-group.no-border .input-group-prepend .input-group-text,.input-group.no-border .input-group-append .input-group-text,.input-group.no-border .input-group-prepend .input-group-text{background-color:hsla(0,0%,87.1%,.3);border:none}.has-error .control-label,.has-error .form-control-feedback{color:#ff3636}.has-success .control-label,.has-success .form-control-feedback{color:#00b84a}.input-group-append .input-group-text,.input-group-prepend .input-group-text{background-color:transparent;border:1px solid #e3e3e3;border-radius:30px;color:#888;transition:color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out}.input-group-append .input-group-text i,.input-group-prepend .input-group-text i{opacity:.5}.has-danger.input-group-focus .input-group-append .input-group-text,.has-danger.input-group-focus .input-group-prepend .input-group-text,.has-success .input-group-append .input-group-text,.has-success .input-group-prepend .input-group-text{background-color:#fff}.has-danger .form-control:focus+.input-group-append .input-group-text,.has-danger .form-control:focus+.input-group-prepend .input-group-text{color:#ff3636}.has-success .form-control:focus+.input-group-append .input-group-text,.has-success .form-control:focus+.input-group-prepend .input-group-text{color:#00b84a}.input-group-append .input-group-text+.form-control,.input-group-append .input-group-text~.form-control,.input-group-prepend .input-group-text+.form-control,.input-group-prepend .input-group-text~.form-control{padding:-.5rem .7rem -.5rem 18px}.input-group-append .input-group-text i,.input-group-prepend .input-group-text i{width:17px}.input-group-append,.input-group-prepend{margin:0}.input-group-append .input-group-text{border-left:none}.input-group-prepend .input-group-text{border-right:none}.input-group-focus .input-group-append .input-group-text,.input-group-focus .input-group-prepend .input-group-text{background-color:#fff;border-color:#00b84a}.input-group-focus.no-border .input-group-append .input-group-text,.input-group-focus.no-border .input-group-prepend .input-group-text{background-color:hsla(0,0%,87.1%,.5)}.form-group,.input-group{margin-bottom:10px;position:relative}.form-group .form-control-static,.input-group .form-control-static{margin-top:9px}.input-group[disabled] .input-group-append .input-group-text,.input-group[disabled] .input-group-prepend .input-group-text{background-color:#e3e3e3}.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child){border-radius:30px;border-top-left-radius:0;border-bottom-left-radius:0;border-left:0}.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group .form-control:first-child{border-right:0}.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:last-child>.dropdown-toggle,.input-group .form-control:last-child{border-left:0}.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{background-color:#e3e3e3;color:#888;cursor:not-allowed}.input-group-btn .btn{border-width:1px;padding:11px .7rem}.input-group-btn .btn-default:not(.btn-fill){border-color:#ddd}.input-group-btn:last-child>.btn{margin-left:0}textarea.form-control{max-width:100%;max-height:80px;padding:10px 10px 0 0;resize:none;border:none;border-bottom:1px solid #e3e3e3;border-radius:0;line-height:2}textarea.form-control:active,textarea.form-control:focus{border-left:none;border-top:none;border-right:none}.has-danger.form-group .form-control,.has-danger.form-group.no-border .form-control,.has-success.form-group .form-control,.has-success.form-group.no-border .form-control{padding-right:40px}.form.form-newsletter .form-group{float:left;width:78%;margin-right:2%;margin-top:9px}.input-group .input-group-btn{padding:0 12px}.form-group input[type=file]{opacity:0;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;z-index:100}.form-text{font-size:.8571em}.form-control-lg{padding:0;font-size:inherit;line-height:0;border-radius:0}.form-horizontal .col-form-label,.form-horizontal .label-on-right{padding:10px 5px 0 15px;text-align:right;max-width:180px}.form-horizontal .checkbox-radios{margin-bottom:15px}.form-horizontal .checkbox-radios .form-check:first-child{margin-top:8px}.form-horizontal .label-on-right{text-align:left;padding:10px 15px 0 5px}.form-horizontal .form-check-inline{margin-top:6px}button,input,optgroup,select,textarea{font-family:Montserrat,Helvetica Neue,Arial,sans-serif}h1,h2,h3,h4,h5,h6{font-weight:400}a,a:focus,a:hover{color:#00b84a}.h1,h1{font-size:3.5em;line-height:1.15;margin-bottom:30px}.h1 small,h1 small{font-weight:700;text-transform:uppercase;opacity:.8}.h2,h2{font-size:2.5em}.h2,.h3,h2,h3{margin-bottom:30px}.h3,h3{font-size:2em;line-height:1.4em}.h4,h4{font-size:1.714em;line-height:1.45em;margin-top:30px;margin-bottom:15px}.h4+.category,.h4.title+.category,h4+.category,h4.title+.category{margin-top:-10px}.h5,h5{font-size:1.57em;line-height:1.4em;margin-bottom:15px}.h6,h6{font-size:1em;font-weight:700;text-transform:uppercase}p.description{font-size:1.14em}.title{font-weight:700}.title.title-up{text-transform:uppercase}.title.title-up a{color:#2c2c2c;text-decoration:none}.title+.category{margin-top:-10px}.card-description,.card .footer .stats,.description,.footer-big p{color:#9a9a9a;font-weight:300}.card-category,.category{text-transform:capitalize;font-weight:400;color:#9a9a9a;font-size:.7142em}.card-category{font-size:1em}.text-primary,a.text-primary:focus,a.text-primary:hover{color:#00b84a!important}.text-info,a.text-info:focus,a.text-info:hover{color:#2ca8ff!important}.text-success,a.text-success:focus,a.text-success:hover{color:#00b84a!important}.text-warning,a.text-warning:focus,a.text-warning:hover{color:#ffb236!important}.text-danger,a.text-danger:focus,a.text-danger:hover{color:#ff3636!important}.text-gray,a.text-gray:focus,a.text-gray:hover{color:#e3e3e3!important}.blockquote{border:1px solid #888;padding:20px;font-size:1.1em;line-height:1.8}.blockquote small{color:#888;font-size:.8571em;text-transform:uppercase}.blockquote.blockquote-primary{border-color:#00b84a;color:#00b84a}.blockquote.blockquote-primary small{color:#00b84a}.blockquote.blockquote-danger{border-color:#ff3636;color:#ff3636}.blockquote.blockquote-danger small{color:#ff3636}.blockquote.blockquote-white{border-color:hsla(0,0%,100%,.8);color:#fff}.blockquote.blockquote-white small{color:hsla(0,0%,100%,.8)}body{color:#2c2c2c;font-size:14px;font-family:Montserrat,Helvetica Neue,Arial,sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}.main{position:relative;background:#fff}.animation-transition-general,.nav-pills .nav-link,.nav-tabs .nav-link,.navbar,.navbar-collapse .navbar-nav .nav-link,.off-canvas-sidebar .logo a.logo-mini,.off-canvas-sidebar .logo a.logo-normal,.off-canvas-sidebar .navbar-minimize,.off-canvas-sidebar .nav p,.sidebar .logo a.logo-mini,.sidebar .logo a.logo-normal,.sidebar .nav a,.sidebar .nav a i,.sidebar .navbar-minimize,.sidebar .nav p,.tag,.tag [data-role=remove]{transition:all .3s ease 0s}.bootstrap-switch-label:before,.caret,.dropdown-toggle:after{transition:all .15s ease 0s}.card-collapse .card a[data-toggle=collapse].expanded i,.card-collapse .card a[data-toggle=collapse][aria-expanded=true] i,.dropdown-toggle[aria-expanded=true]:after,a[data-toggle=collapse][aria-expanded=true] .caret{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);transform:rotate(180deg)}.button-bar{display:block;position:relative;width:22px;height:1px;border-radius:1px;background:#fff}.button-bar+.button-bar{margin-top:7px}.button-bar:nth-child(2){width:17px}.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-top:4px solid\9;border-right:4px solid transparent;border-left:4px solid transparent}.pull-left{float:left}.pull-right{float:right}.form-check{margin-top:.5rem}.form-check .form-check-label{display:inline-block;position:relative;cursor:pointer;padding-left:35px;line-height:26px;margin-bottom:0;transition:color .3s linear}.radio .form-check-sign{padding-left:28px}.form-check .form-check-sign:after,.form-check .form-check-sign:before{content:" ";display:inline-block;position:absolute;width:26px;height:26px;left:0;cursor:pointer;border-radius:3px;top:0;background-color:transparent;border:1px solid #e3e3e3;transition:opacity .3s linear}.form-check .form-check-sign:after{font-family:Nucleo Outline;content:"\EA22";top:0;text-align:center;font-size:14px;opacity:0;color:#555;border:0;background-color:inherit}.form-check.disabled .form-check-label{color:#9a9a9a;opacity:.5;cursor:not-allowed}.form-check input[type=checkbox],.radio input[type=radio]{opacity:0;position:absolute;visibility:hidden}.form-check input[type=checkbox]:checked+.form-check-sign:after{opacity:1}.checkbox input[type=checkbox]:disabled+.form-check-sign:after,.form-control input[type=checkbox]:disabled+.form-check-sign:before{cursor:not-allowed}.form-check input[type=checkbox]:disabled+.form-check-sign,.form-check input[type=radio]:disabled+.form-check-sign{pointer-events:none}.form-check-radio .form-check-sign:after,.form-check-radio .form-check-sign:before{content:" ";width:20px;height:20px;border-radius:50%;border:1px solid #e3e3e3;display:inline-block;position:absolute;left:3px;top:3px;padding:1px;transition:opacity .3s linear}.form-check-radio input[type=radio],.form-check-radio input[type=radio]+.form-check-sign:after{opacity:0}.form-check-radio input[type=radio]:checked+.form-check-sign:after{width:4px;height:4px;background-color:#555;border-color:#555;top:11px;left:11px;opacity:1}.form-check-radio input[type=radio]:disabled+.form-check-sign,.form-check-radio input[type=radio]:disabled+.form-check-sign:after,.form-check-radio input[type=radio]:disabled+.form-check-sign:before{color:#9a9a9a}.navbar{padding-top:.625rem;padding-bottom:.625rem;min-height:53px;margin-bottom:20px;box-shadow:0 0 20px 0 rgba(0,0,0,.15)}.navbar a{vertical-align:middle}.navbar a:not(.btn):not(.dropdown-item){color:#fff}.navbar.bg-white .input-group .form-control,.navbar.bg-white .input-group.no-border .form-control,.navbar a.dropdown-item{color:#888}.navbar.bg-white .input-group .form-control::-moz-placeholder,.navbar.bg-white .input-group.no-border .form-control::-moz-placeholder{color:#888}.navbar.bg-white .input-group .form-control:-ms-input-placeholder,.navbar.bg-white .input-group.no-border .form-control:-ms-input-placeholder{color:#888}.navbar.bg-white .input-group .form-control::-webkit-input-placeholder,.navbar.bg-white .input-group.no-border .form-control::-webkit-input-placeholder{color:#888}.navbar.bg-white .input-group-append .input-group-text i,.navbar.bg-white .input-group-prepend .input-group-text i{color:#888;opacity:.5}.navbar .form-group,.navbar .input-group{margin:0 5px 0 -3px}.navbar .form-group .form-group-addon,.navbar .form-group .input-group-append .input-group-text,.navbar .form-group .input-group-prepend .input-group-text,.navbar .input-group .form-group-addon,.navbar .input-group .input-group-append .input-group-text,.navbar .input-group .input-group-prepend .input-group-text{color:#fff}.navbar .form-group .form-group-addon i,.navbar .form-group .input-group-append .input-group-text i,.navbar .form-group .input-group-prepend .input-group-text i,.navbar .input-group .form-group-addon i,.navbar .input-group .input-group-append .input-group-text i,.navbar .input-group .input-group-prepend .input-group-text i{opacity:1}.navbar .form-group.no-border .form-control,.navbar .input-group.no-border .form-control{color:#fff}.navbar .form-group.no-border .form-control::-moz-placeholder,.navbar .input-group.no-border .form-control::-moz-placeholder{color:#fff}.navbar .form-group.no-border .form-control:-ms-input-placeholder,.navbar .input-group.no-border .form-control:-ms-input-placeholder{color:#fff}.navbar .form-group.no-border .form-control::-webkit-input-placeholder,.navbar .input-group.no-border .form-control::-webkit-input-placeholder{color:#fff}.navbar p{display:inline-block;margin:0;line-height:1.8em;font-size:1em;font-weight:400}.navbar.navbar-absolute{position:absolute;width:100%;padding-top:10px;z-index:1029}.documentation .navbar.fixed-top{left:0;width:auto}.navbar .navbar-wrapper{display:inline-flex;align-items:center}.navbar .navbar-wrapper .navbar-minimize{padding-right:10px}.navbar .navbar-wrapper .navbar-minimize .btn{margin:0}.navbar .navbar-wrapper .navbar-toggle .navbar-toggler{padding-left:0}.navbar .navbar-wrapper .navbar-toggle:hover .navbar-toggler-bar.bar2{width:22px}.navbar .navbar-nav.navbar-logo{position:absolute;left:0;right:0;margin:0 auto;width:49px;top:-4px}.navbar .navbar-nav .nav-link.btn{padding:11px 22px}.navbar .navbar-nav .nav-link.btn.btn-lg{padding:15px 48px}.navbar .navbar-nav .nav-link.btn.btn-sm{padding:5px 15px}.navbar .navbar-nav .nav-link{text-transform:uppercase;font-size:.7142em;padding:.5rem .7rem;line-height:1.625rem;margin-right:3px}.navbar .navbar-nav .nav-link i.fa+p,.navbar .navbar-nav .nav-link i.now-ui-icons+p{margin-left:3px}.navbar .navbar-nav .nav-link i.fa,.navbar .navbar-nav .nav-link i.now-ui-icons{font-size:18px;position:relative;top:3px;text-align:center;width:21px}.navbar .navbar-nav .nav-link i.now-ui-icons{top:4px;font-size:16px}.navbar .navbar-nav .nav-link.profile-photo .profile-photo-small{width:27px;height:27px}.navbar .navbar-nav .nav-link.disabled{opacity:.5;color:#fff}.navbar .navbar-nav .nav-item.active .nav-link:not(.btn),.navbar .navbar-nav .nav-item .nav-link:not(.btn):active,.navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,.navbar .navbar-nav .nav-item .nav-link:not(.btn):hover{background-color:hsla(0,0%,100%,.2);border-radius:.1875rem;color:#fff}.navbar .logo-container{width:27px;height:27px;overflow:hidden;margin:0 auto;border-radius:50%;border:1px solid transparent}.navbar .navbar-brand{text-transform:uppercase;font-size:.8571em;padding-top:.5rem;padding-bottom:.5rem;line-height:1.625rem}.navbar .navbar-toggler{width:37px;height:27px;vertical-align:middle;outline:0;cursor:pointer}.navbar .navbar-toggler .navbar-toggler-bar.navbar-kebab{width:3px;height:3px;border-radius:50%;margin:0 auto}.navbar .button-dropdown .navbar-toggler-bar:nth-child(2){width:17px}.navbar.navbar-transparent{background-color:transparent!important;box-shadow:none;color:#fff}.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item):not(.btn){color:#888}.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item):not(.btn).disabled{opacity:.5;color:#888}.navbar.bg-white:not(.navbar-transparent) .button-bar{background:#888}.navbar.bg-white:not(.navbar-transparent) .nav-item.active .nav-link:not(.btn),.navbar.bg-white:not(.navbar-transparent) .nav-item .nav-link:not(.btn):active,.navbar.bg-white:not(.navbar-transparent) .nav-item .nav-link:not(.btn):focus,.navbar.bg-white:not(.navbar-transparent) .nav-item .nav-link:not(.btn):hover{background-color:hsla(0,0%,87.1%,.8);color:#888}.navbar.bg-white:not(.navbar-transparent) .logo-container{border:1px solid #888}.bg-default{background-color:#888!important}.bg-primary{background-color:#00b84a!important}.bg-info{background-color:#2ca8ff!important}.bg-success{background-color:#00b84a!important}.bg-danger{background-color:#ff3636!important}.bg-warning{background-color:#ffb236!important}.bg-white{background-color:#fff!important}.page-header{min-height:100vh;max-height:999px;padding:0;color:#fff;position:relative}.page-header .page-header-image{position:absolute;background-size:cover;background-position:50%;width:100%;height:100%;z-index:-1}.page-header .content-center{position:absolute;top:50%;left:50%;z-index:2;transform:translate(-50%,-50%);text-align:center;color:#fff;padding:0 15px;width:100%;max-width:880px}.page-header footer{position:absolute;bottom:0;width:100%}.page-header .container{height:100%;z-index:1}.page-header .category,.page-header .description{color:hsla(0,0%,100%,.8)}.page-header.page-header-small{min-height:60vh;max-height:440px}.page-header.page-header-mini{min-height:40vh;max-height:340px}.page-header .title{margin-bottom:15px}.page-header .title+h4{margin-top:10px}.page-header:after,.page-header:before{position:absolute;z-index:0;width:100%;height:100%;display:block;left:0;top:0;content:""}.page-header:before{background-color:rgba(0,0,0,.3)}.page-header[filter-color=orange]{background:rgba(44,44,44,.2);background:linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6))}.dropdown-menu{border:0;box-shadow:0 10px 50px 0 rgba(0,0,0,.2);border-radius:.125rem;transition:all .15s linear;font-size:14px}.dropdown-menu.dropdown-menu-right:before{left:auto;right:10px}.dropdown-menu i{margin-right:5px;position:relative;top:1px}.dropdown-menu .now-ui-icons{margin-right:10px;position:relative;top:4px;font-size:18px;margin-top:-5px;opacity:.5}.dropdown-menu .dropdown-item.active,.dropdown-menu .dropdown-item:active{color:inherit}.dropup .dropdown-menu:before{display:none}.dropup .dropdown-menu:after{display:inline-block;position:absolute;width:0;height:0;vertical-align:middle;content:"";top:auto;bottom:-5px;right:auto;left:10px;color:#fff;border-top:.4em solid;border-right:.4em solid transparent;border-left:.4em solid transparent}.dropup .dropdown-menu.dropdown-menu-right:after{right:10px;left:auto}.dropdown-menu:before{display:inline-block;position:absolute;width:0;height:0;vertical-align:middle;content:"";top:-5px;left:10px;right:auto;color:#fff;border-bottom:.4em solid;border-right:.4em solid transparent;border-left:.4em solid transparent}.dropdown-menu.dropdown-menu-right{right:0!important;left:auto!important}.bootstrap-select .dropdown-menu.inner li a,.dropdown-menu .dropdown-item{font-size:.8571em;padding-top:.6rem;padding-bottom:.6rem;margin-top:5px;transition:all .15s linear}.bootstrap-select .dropdown-menu.inner li a:focus,.bootstrap-select .dropdown-menu.inner li a:hover,.dropdown-menu .dropdown-item:focus,.dropdown-menu .dropdown-item:hover{background-color:hsla(0,0%,87.1%,.3);outline:0}.bootstrap-select .dropdown-menu.inner li a.disabled,.bootstrap-select .dropdown-menu.inner li a:disabled,.dropdown-menu .dropdown-item.disabled,.dropdown-menu .dropdown-item:disabled{color:hsla(0,0%,71.4%,.6)}.bootstrap-select .dropdown-menu.inner li a.disabled:focus,.bootstrap-select .dropdown-menu.inner li a.disabled:hover,.bootstrap-select .dropdown-menu.inner li a:disabled:focus,.bootstrap-select .dropdown-menu.inner li a:disabled:hover,.dropdown-menu .dropdown-item.disabled:focus,.dropdown-menu .dropdown-item.disabled:hover,.dropdown-menu .dropdown-item:disabled:focus,.dropdown-menu .dropdown-item:disabled:hover{background-color:transparent}.dropdown-menu .dropdown-divider{background-color:hsla(0,0%,87.1%,.5)}.dropdown-menu .dropdown-header:not([href]):not([tabindex]){color:hsla(0,0%,71.4%,.6);font-size:.7142em;text-transform:uppercase;font-weight:700}.dropdown-menu.dropdown-primary{background-color:#00a944}.dropdown-menu.dropdown-primary:before{color:#00a944}.dropdown-menu.dropdown-primary .dropdown-header:not([href]):not([tabindex]){color:hsla(0,0%,100%,.8)}.dropdown-menu.dropdown-primary .dropdown-item{color:#fff}.dropdown-menu.dropdown-primary .dropdown-divider,.dropdown-menu.dropdown-primary .dropdown-item:focus,.dropdown-menu.dropdown-primary .dropdown-item:hover{background-color:hsla(0,0%,100%,.2)}.dropdown-menu.dropdown-info{background-color:#1da2ff}.dropdown-menu.dropdown-info:before{color:#1da2ff}.dropdown-menu.dropdown-info .dropdown-header:not([href]):not([tabindex]){color:hsla(0,0%,100%,.8)}.dropdown-menu.dropdown-info .dropdown-item{color:#fff}.dropdown-menu.dropdown-info .dropdown-divider,.dropdown-menu.dropdown-info .dropdown-item:focus,.dropdown-menu.dropdown-info .dropdown-item:hover{background-color:hsla(0,0%,100%,.2)}.dropdown-menu.dropdown-danger{background-color:#ff2727}.dropdown-menu.dropdown-danger:before{color:#ff2727}.dropdown-menu.dropdown-danger .dropdown-header:not([href]):not([tabindex]){color:hsla(0,0%,100%,.8)}.dropdown-menu.dropdown-danger .dropdown-item{color:#fff}.dropdown-menu.dropdown-danger .dropdown-divider,.dropdown-menu.dropdown-danger .dropdown-item:focus,.dropdown-menu.dropdown-danger .dropdown-item:hover{background-color:hsla(0,0%,100%,.2)}.dropdown-menu.dropdown-success{background-color:#00a944}.dropdown-menu.dropdown-success:before{color:#00a944}.dropdown-menu.dropdown-success .dropdown-header:not([href]):not([tabindex]){color:hsla(0,0%,100%,.8)}.dropdown-menu.dropdown-success .dropdown-item{color:#fff}.dropdown-menu.dropdown-success .dropdown-divider,.dropdown-menu.dropdown-success .dropdown-item:focus,.dropdown-menu.dropdown-success .dropdown-item:hover{background-color:hsla(0,0%,100%,.2)}.dropdown-menu.dropdown-warning{background-color:#ffac27}.dropdown-menu.dropdown-warning:before{color:#ffac27}.dropdown-menu.dropdown-warning .dropdown-header:not([href]):not([tabindex]){color:hsla(0,0%,100%,.8)}.dropdown-menu.dropdown-warning .dropdown-item{color:#fff}.dropdown-menu.dropdown-warning .dropdown-divider,.dropdown-menu.dropdown-warning .dropdown-item:focus,.dropdown-menu.dropdown-warning .dropdown-item:hover{background-color:hsla(0,0%,100%,.2)}.dropdown-menu.bootstrap-datetimepicker-widget.bottom,.dropdown-menu.bootstrap-datetimepicker-widget.top,.dropdown .dropdown-menu:not(.inner),.dropup:not(.bootstrap-select) .dropdown-menu{visibility:hidden;display:block;opacity:0;filter:alpha(opacity=0);top:100%!important}.dropdown-menu.bootstrap-datetimepicker-widget.bottom,.dropdown .dropdown-menu:not(.inner){transform:translate3d(0,-20px,0)!important}.bootstrap-select.dropup .dropdown-menu:not(.inner){transform:translate3d(0,25px,0)!important}.dropdown-menu.bootstrap-datetimepicker-widget.top,.dropup:not(.bootstrap-select) .dropdown-menu{transform:translate3d(0,20px,0)!important;top:auto!important;bottom:100%}.dropdown-menu.bootstrap-datetimepicker-widget.bottom.open,.dropdown-menu.bootstrap-datetimepicker-widget.top.open,.dropdown.show .dropdown-menu:not(.inner),.dropup.show:not(.bootstrap-select) .dropdown-menu,.navbar .dropdown.show .dropdown-menu{opacity:1;filter:alpha(opacity=100);visibility:visible}.dropdown-menu.bootstrap-datetimepicker-widget.bottom.open,.dropdown.show .dropdown-menu:not(.inner),.navbar .dropdown.show .dropdown-menu{transform:translate3d(0,1px,0)!important}.dropdown-menu.bootstrap-datetimepicker-widget.top.open,.dropup.show:not(.bootstrap-select) .dropdown-menu{transform:translate3d(0,-2px,0)!important}.button-dropdown{padding-right:.7rem;cursor:pointer}.button-dropdown .dropdown-toggle{padding-top:.5rem;padding-bottom:.5rem;display:block}.button-dropdown .dropdown-toggle:after{display:none}.alert{border:0;border-radius:.1875rem;color:#fff;padding-top:.9rem;padding-bottom:.9rem;position:relative}.alert.alert-success{background-color:#00d254}.alert.alert-danger{background-color:#ff5050}.alert.alert-warning{background-color:#ffbc50}.alert.alert-info{background-color:#46b3ff}.alert.alert-primary{background-color:#00d254}.alert i.fa,.alert i.now-ui-icons{font-size:20px}.alert .close{color:#fff!important;opacity:.9;text-shadow:none;line-height:0;outline:0}.alert span[data-notify=icon]{font-size:22px;display:block;left:19px;position:absolute;top:50%;margin-top:-11px}.alert button.close{position:absolute;right:10px;top:50%;margin-top:-13px;width:25px;height:25px;padding:3px}.alert .close~span{display:block;max-width:89%}.alert.alert-with-icon{padding-left:65px}img{max-width:100%;border-radius:.1875rem}.img-raised{box-shadow:0 10px 25px 0 rgba(0,0,0,.3)}@font-face{font-family:Nucleo Outline;src:url(/fonts/nucleo-outline.eot?53a1bed7a3ec86d010fe100873828a89);src:url(/fonts/nucleo-outline.eot?53a1bed7a3ec86d010fe100873828a89) format("embedded-opentype"),url(/fonts/nucleo-outline.woff2?8ebec31f5ce59f908db84d86aed5947f) format("woff2"),url(/fonts/nucleo-outline.woff?24e2d6b43b1b0f84fdfaa06a4032f154) format("woff"),url(/fonts/nucleo-outline.ttf?22a0bffe789c286a9d78eb52670996a7) format("truetype");font-weight:400;font-style:normal}.now-ui-icons{display:inline-block;font:normal normal normal 14px/1 Nucleo Outline;font-size:inherit;speak:none;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.now-ui-icons.circle{padding:.33333333em;vertical-align:-16%;background-color:#eee;border-radius:50%}.nc-icon-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.nc-icon-ul>li{position:relative}.nc-icon-ul>li>.now-ui-icons{position:absolute;left:-1.57142857em;top:.14285714em;text-align:center}.nc-icon-ul>li>.now-ui-icons.circle{top:-.19047619em;left:-1.9047619em}.now-ui-icons.spin{-webkit-animation:nc-icon-spin 2s linear infinite;animation:nc-icon-spin 2s linear infinite}@-webkit-keyframes nc-icon-spin{0%{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(1turn)}}@keyframes nc-icon-spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}.now-ui-icons.ui-1_check:before{content:"\EA22"}.now-ui-icons.ui-1_email-85:before{content:"\EA2A"}.now-ui-icons.arrows-1_cloud-download-93:before{content:"\EA21"}.now-ui-icons.arrows-1_cloud-upload-94:before{content:"\EA24"}.now-ui-icons.arrows-1_minimal-down:before{content:"\EA39"}.now-ui-icons.arrows-1_minimal-left:before{content:"\EA3A"}.now-ui-icons.arrows-1_minimal-right:before{content:"\EA3B"}.now-ui-icons.arrows-1_minimal-up:before{content:"\EA3C"}.now-ui-icons.arrows-1_refresh-69:before{content:"\EA44"}.now-ui-icons.arrows-1_share-66:before{content:"\EA4C"}.now-ui-icons.business_badge:before{content:"\EA09"}.now-ui-icons.business_bank:before{content:"\EA0A"}.now-ui-icons.business_briefcase-24:before{content:"\EA13"}.now-ui-icons.business_bulb-63:before{content:"\EA15"}.now-ui-icons.business_chart-bar-32:before{content:"\EA1E"}.now-ui-icons.business_chart-pie-36:before{content:"\EA1F"}.now-ui-icons.business_globe:before{content:"\EA2F"}.now-ui-icons.business_money-coins:before{content:"\EA40"}.now-ui-icons.clothes_tie-bow:before{content:"\EA5B"}.now-ui-icons.design_vector:before{content:"\EA61"}.now-ui-icons.design_app:before{content:"\EA08"}.now-ui-icons.design_bullet-list-67:before{content:"\EA14"}.now-ui-icons.design_image:before{content:"\EA33"}.now-ui-icons.design_palette:before{content:"\EA41"}.now-ui-icons.design_scissors:before{content:"\EA4A"}.now-ui-icons.design-2_html5:before{content:"\EA32"}.now-ui-icons.design-2_ruler-pencil:before{content:"\EA48"}.now-ui-icons.emoticons_satisfied:before{content:"\EA49"}.now-ui-icons.files_box:before{content:"\EA12"}.now-ui-icons.files_paper:before{content:"\EA43"}.now-ui-icons.files_single-copy-04:before{content:"\EA52"}.now-ui-icons.health_ambulance:before{content:"\EA07"}.now-ui-icons.loader_gear:before{content:"\EA4E"}.now-ui-icons.loader_refresh:before{content:"\EA44"}.now-ui-icons.location_bookmark:before{content:"\EA10"}.now-ui-icons.location_compass-05:before{content:"\EA25"}.now-ui-icons.location_map-big:before{content:"\EA3D"}.now-ui-icons.location_pin:before{content:"\EA47"}.now-ui-icons.location_world:before{content:"\EA63"}.now-ui-icons.media-1_album:before{content:"\EA02"}.now-ui-icons.media-1_button-pause:before{content:"\EA16"}.now-ui-icons.media-1_button-play:before{content:"\EA18"}.now-ui-icons.media-1_button-power:before{content:"\EA19"}.now-ui-icons.media-1_camera-compact:before{content:"\EA1C"}.now-ui-icons.media-2_note-03:before{content:"\EA3F"}.now-ui-icons.media-2_sound-wave:before{content:"\EA57"}.now-ui-icons.objects_diamond:before{content:"\EA29"}.now-ui-icons.objects_globe:before{content:"\EA2F"}.now-ui-icons.objects_key-25:before{content:"\EA38"}.now-ui-icons.objects_planet:before{content:"\EA46"}.now-ui-icons.objects_spaceship:before{content:"\EA55"}.now-ui-icons.objects_support-17:before{content:"\EA56"}.now-ui-icons.objects_umbrella-13:before{content:"\EA5F"}.now-ui-icons.education_agenda-bookmark:before{content:"\EA01"}.now-ui-icons.education_atom:before{content:"\EA0C"}.now-ui-icons.education_glasses:before{content:"\EA2D"}.now-ui-icons.education_hat:before{content:"\EA30"}.now-ui-icons.education_paper:before{content:"\EA42"}.now-ui-icons.shopping_bag-16:before{content:"\EA0D"}.now-ui-icons.shopping_basket:before{content:"\EA0B"}.now-ui-icons.shopping_box:before{content:"\EA11"}.now-ui-icons.shopping_cart-simple:before{content:"\EA1D"}.now-ui-icons.shopping_credit-card:before{content:"\EA28"}.now-ui-icons.shopping_delivery-fast:before{content:"\EA27"}.now-ui-icons.shopping_shop:before{content:"\EA50"}.now-ui-icons.shopping_tag-content:before{content:"\EA59"}.now-ui-icons.sport_trophy:before{content:"\EA5D"}.now-ui-icons.sport_user-run:before{content:"\EA60"}.now-ui-icons.tech_controller-modern:before{content:"\EA26"}.now-ui-icons.tech_headphones:before{content:"\EA31"}.now-ui-icons.tech_laptop:before{content:"\EA36"}.now-ui-icons.tech_mobile:before{content:"\EA3E"}.now-ui-icons.tech_tablet:before{content:"\EA58"}.now-ui-icons.tech_tv:before{content:"\EA5E"}.now-ui-icons.tech_watch-time:before{content:"\EA62"}.now-ui-icons.text_align-center:before{content:"\EA05"}.now-ui-icons.text_align-left:before{content:"\EA06"}.now-ui-icons.text_bold:before{content:"\EA0E"}.now-ui-icons.text_caps-small:before{content:"\EA1B"}.now-ui-icons.gestures_tap-01:before{content:"\EA5A"}.now-ui-icons.transportation_air-baloon:before{content:"\EA03"}.now-ui-icons.transportation_bus-front-12:before{content:"\EA17"}.now-ui-icons.travel_info:before{content:"\EA04"}.now-ui-icons.travel_istanbul:before{content:"\EA34"}.now-ui-icons.ui-1_bell-53:before{content:"\EA0F"}.now-ui-icons.ui-1_calendar-60:before{content:"\EA1A"}.now-ui-icons.ui-1_lock-circle-open:before{content:"\EA35"}.now-ui-icons.ui-1_send:before{content:"\EA4D"}.now-ui-icons.ui-1_settings-gear-63:before{content:"\EA4E"}.now-ui-icons.ui-1_simple-add:before{content:"\EA4F"}.now-ui-icons.ui-1_simple-delete:before{content:"\EA54"}.now-ui-icons.ui-1_simple-remove:before{content:"\EA53"}.now-ui-icons.ui-1_zoom-bold:before{content:"\EA64"}.now-ui-icons.ui-2_chat-round:before{content:"\EA20"}.now-ui-icons.ui-2_favourite-28:before{content:"\EA2B"}.now-ui-icons.ui-2_like:before{content:"\EA37"}.now-ui-icons.ui-2_settings-90:before{content:"\EA4B"}.now-ui-icons.ui-2_time-alarm:before{content:"\EA5C"}.now-ui-icons.users_circle-08:before{content:"\EA23"}.now-ui-icons.users_single-02:before{content:"\EA51"}.all-icons .font-icon-detail{text-align:center;padding:45px 0 30px;border:1px solid #e5e5e5;border-radius:.1875rem;margin:15px 0;min-height:168px}.all-icons [class*=now-ui-icons]{font-size:32px}.all-icons .font-icon-detail p{margin:25px auto 0;width:100%;text-align:center;display:block;color:#b8b8b8;padding:0 10px;font-size:.7142em}.table .img-wrapper{width:40px;height:40px;border-radius:50%;overflow:hidden;margin:0 auto}.table .img-row{max-width:60px;width:60px}.table .form-check{margin:0}.table .form-check label .form-check-sign:after,.table .form-check label .form-check-sign:before{top:-17px;left:4px}.table .btn{margin:0}.table .small,.table small{font-weight:300}.card-tasks .card-body .table{margin-bottom:0}.card-tasks .card-body .table>tbody>tr>td,.card-tasks .card-body .table>tbody>tr>th,.card-tasks .card-body .table>tfoot>tr>td,.card-tasks .card-body .table>tfoot>tr>th,.card-tasks .card-body .table>thead>tr>td,.card-tasks .card-body .table>thead>tr>th{padding-top:0;padding-bottom:0}.table>thead>tr>th{font-size:1.45em;font-weight:300;border:0}.table .checkbox,.table .radio{margin-top:0;margin-bottom:0;padding:0;width:15px}.table .checkbox .icons,.table .radio .icons{position:relative}.table .checkbox label:after,.table .checkbox label:before,.table .radio label:after,.table .radio label:before{top:-17px;left:-3px}.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{padding:12px 7px;vertical-align:middle}.table .th-description{max-width:150px}.table .td-price{font-size:26px;font-weight:300;margin-top:5px;position:relative;top:4px;text-align:right}.table .td-total{font-weight:700;font-size:1.57em;padding-top:20px;text-align:right}.table .td-actions .btn{margin:0}.table>tbody>tr{position:relative}.table-shopping>thead>tr>th{font-size:1em;text-transform:uppercase}.table-shopping>tbody>tr>td{font-size:1em}.table-shopping>tbody>tr>td b{display:block;margin-bottom:5px}.table-shopping .td-name{font-weight:400;font-size:1.5em}.table-shopping .td-name small{color:#9a9a9a;font-size:.75em;font-weight:300}.table-shopping .td-number{font-weight:300;font-size:1.714em}.table-shopping .td-name{min-width:200px}.table-shopping .td-number{text-align:right;min-width:170px}.table-shopping .td-number small{margin-right:3px}.table-shopping .img-container{width:120px;max-height:160px;overflow:hidden;display:block}.table-shopping .img-container img{width:100%}.table-responsive{overflow:auto;padding-bottom:10px}#tables .table-responsive{margin-bottom:30px}.wrapper{position:relative;top:0;height:100vh}.wrapper.wrapper-full-page{min-height:100vh;height:auto}.off-canvas-sidebar,.sidebar{position:fixed;top:0;height:100%;bottom:0;width:260px;left:0;z-index:1030}.off-canvas-sidebar .sidebar-wrapper,.sidebar .sidebar-wrapper{position:relative;height:calc(100vh - 75px);overflow:auto;width:260px;z-index:4;padding-bottom:100px}.off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop,.sidebar .sidebar-wrapper .dropdown .dropdown-backdrop{display:none!important}.off-canvas-sidebar .sidebar-wrapper .navbar-form,.sidebar .sidebar-wrapper .navbar-form{border:none}.off-canvas-sidebar .navbar-minimize,.sidebar .navbar-minimize{position:absolute;right:20px;top:2px;opacity:1}.off-canvas-sidebar .nav,.sidebar .nav{margin-top:20px;display:block}.off-canvas-sidebar .nav .caret,.sidebar .nav .caret{top:14px;position:absolute;right:10px}.off-canvas-sidebar .nav li>a+div .nav li>a,.sidebar .nav li>a+div .nav li>a{margin-top:7px}.off-canvas-sidebar .nav li>a,.sidebar .nav li>a{margin:10px 15px 0;border-radius:30px;color:#fff;display:block;text-decoration:none;position:relative;text-transform:uppercase;cursor:pointer;font-size:.7142em;padding:10px 8px;line-height:1.625rem}.off-canvas-sidebar .nav li:first-child>a,.sidebar .nav li:first-child>a{margin:0 15px}.off-canvas-sidebar .nav li:focus:not(.active)>a,.off-canvas-sidebar .nav li:hover:not(.active)>a,.sidebar .nav li:focus:not(.active)>a,.sidebar .nav li:hover:not(.active)>a{background-color:hsla(0,0%,100%,.1)}.off-canvas-sidebar .nav li:focus:not(.active)>a i,.off-canvas-sidebar .nav li:hover:not(.active)>a i,.sidebar .nav li:focus:not(.active)>a i,.sidebar .nav li:hover:not(.active)>a i{color:#fff}.off-canvas-sidebar .nav li.active>a,.sidebar .nav li.active>a{background-color:#fff;box-shadow:0 1px 15px 1px rgba(39,39,39,.1)}.off-canvas-sidebar .nav p,.sidebar .nav p{margin:0;line-height:30px;position:relative;display:block;height:auto;white-space:nowrap}.off-canvas-sidebar .nav i,.sidebar .nav i{font-size:20px;float:left;margin-right:12px;line-height:30px;width:34px;text-align:center;color:hsla(0,0%,100%,.5);position:relative}.off-canvas-sidebar .sidebar-background,.sidebar .sidebar-background{position:absolute;z-index:1;height:100%;width:100%;display:block;top:0;left:0;background-size:cover;background-position:50%}.off-canvas-sidebar .sidebar-background:after,.sidebar .sidebar-background:after{position:absolute;z-index:3;width:100%;height:100%;content:"";display:block;background:#fff;opacity:1}.off-canvas-sidebar .logo,.sidebar .logo{position:relative;padding:.5rem .7rem;z-index:4}.off-canvas-sidebar .logo a.logo-mini,.sidebar .logo a.logo-mini{opacity:1;float:left;width:34px;text-align:center;margin-left:10px;margin-right:12px}.off-canvas-sidebar .logo a.logo-normal,.sidebar .logo a.logo-normal{display:block;opacity:1;transform:translateZ(0)}.off-canvas-sidebar .logo:after,.sidebar .logo:after{content:"";position:absolute;bottom:0;right:15px;height:1px;width:calc(100% - 30px);background-color:hsla(0,0%,100%,.5)}.off-canvas-sidebar .logo p,.sidebar .logo p{float:left;font-size:20px;margin:10px;color:#fff;line-height:20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif}.off-canvas-sidebar .logo .simple-text,.sidebar .logo .simple-text{text-transform:uppercase;padding:.5rem 0;display:block;white-space:nowrap;font-size:1em;color:#fff;text-decoration:none;font-weight:400;line-height:30px;overflow:hidden}.off-canvas-sidebar .logo-tim,.sidebar .logo-tim{border-radius:50%;border:1px solid #333;display:block;height:61px;width:61px;float:left;overflow:hidden}.off-canvas-sidebar .logo-tim img,.sidebar .logo-tim img{width:60px;height:60px}.off-canvas-sidebar:after,.off-canvas-sidebar:before,.sidebar:after,.sidebar:before{display:block;content:"";opacity:1;position:absolute;width:100%;height:100%;top:0;left:0}.off-canvas-sidebar:after,.sidebar:after{background:#888;background:linear-gradient(#888,#000 80%);z-index:3}.off-canvas-sidebar[data-color=blue]:after,.sidebar[data-color=blue]:after{background:#2ca8ff}.off-canvas-sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]),.off-canvas-sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]) i{color:#2ca8ff}.off-canvas-sidebar[data-color=green]:after,.sidebar[data-color=green]:after{background:#00b84a}.off-canvas-sidebar[data-color=green] .nav li.active>a:not([data-toggle=collapse]),.off-canvas-sidebar[data-color=green] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=green] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=green] .nav li.active>a:not([data-toggle=collapse]) i{color:#00b84a}.off-canvas-sidebar[data-color=orange]:after,.sidebar[data-color=orange]:after{background:#f96332}.off-canvas-sidebar[data-color=orange] .nav li.active>a:not([data-toggle=collapse]),.off-canvas-sidebar[data-color=orange] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=orange] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=orange] .nav li.active>a:not([data-toggle=collapse]) i{color:#f96332}.off-canvas-sidebar[data-color=red]:after,.sidebar[data-color=red]:after{background:#ff3636}.off-canvas-sidebar[data-color=red] .nav li.active>a:not([data-toggle=collapse]),.off-canvas-sidebar[data-color=red] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=red] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=red] .nav li.active>a:not([data-toggle=collapse]) i{color:#ff3636}.off-canvas-sidebar[data-color=yellow]:after,.sidebar[data-color=yellow]:after{background:#ffb236}.off-canvas-sidebar[data-color=yellow] .nav li.active>a:not([data-toggle=collapse]),.off-canvas-sidebar[data-color=yellow] .nav li.active>a:not([data-toggle=collapse]) i,.sidebar[data-color=yellow] .nav li.active>a:not([data-toggle=collapse]),.sidebar[data-color=yellow] .nav li.active>a:not([data-toggle=collapse]) i{color:#ffb236}.visible-on-sidebar-regular{display:inline-block!important}.visible-on-sidebar-mini{display:none!important}.off-canvas-sidebar .nav>li>a,.off-canvas-sidebar .nav>li>a:hover{color:#fff}.off-canvas-sidebar .nav>li>a:focus{background:hsla(0,0%,78.4%,.2)}.main-panel{position:relative;float:right;width:calc(100% - 260px);background-color:#e3e3e3;background-color:#ebecf1;transition:all .5s cubic-bezier(.685,.0473,.346,1)}.main-panel>.content{padding:0 30px 30px;min-height:calc(100vh - 123px);margin-top:-30px}.main-panel>.navbar{margin-bottom:0}.main-panel .header{margin-bottom:50px}.perfect-scrollbar-on .main-panel,.perfect-scrollbar-on .sidebar{height:100%;max-height:100%}@media (min-width:991px){.sidebar{display:block;box-shadow:0 2px 22px 0 rgba(0,0,0,.2),0 2px 30px 0 rgba(0,0,0,.35)}}.panel-header{height:260px;padding-top:80px;padding-bottom:45px;background:#141e30;background:linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788);position:relative;overflow:hidden}.panel-header .header .title{color:#fff}.panel-header .header .category{max-width:600px;color:hsla(0,0%,100%,.5);margin:0 auto;font-size:13px}.panel-header .header .category a{color:#fff}.panel-header-sm{height:135px}.panel-header-lg{height:380px}.footer{padding:24px 0}.footer.footer-default{background-color:#f2f2f2}.footer nav{display:inline-block;float:left;padding-left:7px}.footer ul{margin-bottom:0;padding:0;list-style:none}.footer ul li{display:inline-block}.footer ul li a{color:inherit;padding:.5rem;font-size:.8571em;text-transform:uppercase}.footer ul li a,.footer ul li a:hover{text-decoration:none}.footer.fixed-bottom{width:calc(100% - 80px);margin-left:auto}.footer .copyright{font-size:.8571em;line-height:1.8}.footer:after{display:table;clear:both;content:" "}.fixed-plugin{position:fixed;right:0;width:64px;background:rgba(0,0,0,.3);z-index:1031;border-radius:8px 0 0 8px;text-align:center;top:120px}.fixed-plugin .badge,.fixed-plugin li>a{transition:all .34s;-webkit-transition:all .34s;-moz-transition:all .34s}.fixed-plugin .fa-cog{color:#fff;padding:10px;border-radius:0 0 6px 6px;width:auto}.fixed-plugin .dropdown .dropdown-menu{right:80px;left:auto!important;top:-52px!important;width:290px;border-radius:.1875rem;padding:0 10px}.fixed-plugin .dropdown .dropdown-menu .now-ui-icons{top:5px}.fixed-plugin .dropdown-menu:after,.fixed-plugin .dropdown-menu:before{right:10px;margin-left:auto;left:auto}.fixed-plugin .fa-circle-thin{color:#fff}.fixed-plugin .active .fa-circle-thin{color:#0bf}.fixed-plugin .dropdown-menu>.active>a,.fixed-plugin .dropdown-menu>.active>a:focus,.fixed-plugin .dropdown-menu>.active>a:hover{color:#777;text-align:center}.fixed-plugin img{border-radius:0;width:100%;height:100px;margin:0 auto}.fixed-plugin .dropdown-menu li>a:focus,.fixed-plugin .dropdown-menu li>a:hover{box-shadow:none}.fixed-plugin .badge{border:3px solid #fff;border-radius:50%;cursor:pointer;display:inline-block;height:23px;margin-right:5px;position:relative;width:23px}.fixed-plugin .badge.active,.fixed-plugin .badge:hover{border-color:#0bf}.fixed-plugin .badge-blue{background-color:#2ca8ff}.fixed-plugin .badge-green,.fixed-plugin .badge-orange{background-color:#00b84a}.fixed-plugin .badge-yellow{background-color:#ffb236}.fixed-plugin .badge-red{background-color:#ff3636}.fixed-plugin h5{font-size:14px;margin:10px}.fixed-plugin .dropdown-menu li{display:block;padding:18px 2px;width:25%;float:left}.fixed-plugin li.adjustments-line,.fixed-plugin li.button-container,.fixed-plugin li.header-title{width:100%;height:50px;min-height:inherit}.fixed-plugin li.button-container{height:auto}.fixed-plugin li.button-container div{margin-bottom:5px}.fixed-plugin #sharrreTitle{text-align:center;padding:10px 0;height:50px}.fixed-plugin li.header-title{height:30px;line-height:25px;font-size:12px;font-weight:600;text-align:center;text-transform:uppercase}.fixed-plugin .adjustments-line p{float:left;display:inline-block;margin-bottom:0;font-size:1em;color:#3c4858}.fixed-plugin .adjustments-line a{color:transparent}.fixed-plugin .adjustments-line a .badge-colors{position:relative;top:-2px}.fixed-plugin .adjustments-line a a:focus,.fixed-plugin .adjustments-line a a:hover{color:transparent}.fixed-plugin .adjustments-line .togglebutton{text-align:center}.fixed-plugin .adjustments-line .togglebutton .label-switch{position:relative;left:-10px;font-size:.7142em;color:#888}.fixed-plugin .adjustments-line .togglebutton .label-switch.label-right{left:10px}.fixed-plugin .adjustments-line .togglebutton .toggle{margin-right:0}.fixed-plugin .adjustments-line .dropdown-menu>li.adjustments-line>a{padding-right:0;padding-left:0;border-bottom:1px solid #ddd;border-radius:0;margin:0}.fixed-plugin .dropdown-menu>li>a.img-holder{font-size:16px;text-align:center;border-radius:10px;background-color:#fff;border:3px solid #fff;opacity:1;cursor:pointer;display:block;max-height:100px;overflow:hidden;padding:0}.fixed-plugin .dropdown-menu>li>a.img-holder img{margin-top:auto}.fixed-plugin .dropdown-menu>li>a.switch-trigger:focus,.fixed-plugin .dropdown-menu>li a.switch-trigger:hover{background-color:transparent}.fixed-plugin .dropdown-menu>li:focus>a.img-holder,.fixed-plugin .dropdown-menu>li:hover>a.img-holder{border-color:rgba(0,187,255,.53)}.fixed-plugin .dropdown-menu>.active>a.img-holder{border-color:#0bf;background-color:#fff}.fixed-plugin .btn-social{width:50%;display:block;width:48%;float:left;font-weight:600}.fixed-plugin .btn-social i{margin-right:5px}.fixed-plugin .btn-social:first-child{margin-right:2%}.fixed-plugin .dropdown .dropdown-menu{transform:translateY(-15%);top:27px;opacity:0;transform-origin:0 0}.fixed-plugin .dropdown .dropdown-menu:before{border-bottom:.4em solid transparent;border-left:.4em solid rgba(0,0,0,.2);border-top:.4em solid transparent;right:-16px;top:46px}.fixed-plugin .dropdown .dropdown-menu:after{border-bottom:.4em solid transparent;border-left:.4em solid #fff;border-top:.4em solid transparent;right:-16px}.fixed-plugin .dropdown .dropdown-menu:after,.fixed-plugin .dropdown .dropdown-menu:before{content:"";display:inline-block;position:absolute;top:74px;width:16px;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%)}.fixed-plugin .dropdown.show .dropdown-menu{opacity:1;transform:translateY(-13%);transform-origin:0 0}.fixed-plugin .bootstrap-switch{margin:0}.card{border:0;border-radius:.1875rem;display:inline-block;position:relative;width:100%;margin-bottom:20px;box-shadow:0 1px 15px 1px rgba(39,39,39,.1)}.card [data-notify=container].alert{min-width:auto;left:unset!important;right:unset!important}.card .card-body{padding:15px 15px 10px}.card .card-body.table-full-width{padding-left:0;padding-right:0}.card .card-header{padding:15px 15px 0;border:0}.card .card-header:not([data-background-color]){background-color:transparent}.card .card-header .card-title{margin-top:10px}.card .map{border-radius:.1875rem}.card .map.map-big{height:400px}.card[data-background-color=orange],.card[data-background-color=orange] .card-header{background-color:#00b84a}.card[data-background-color=orange] .card-footer .stats{color:#fff}.card[data-background-color=red]{background-color:#ff3636}.card[data-background-color=yellow]{background-color:#ffb236}.card[data-background-color=blue]{background-color:#2ca8ff}.card[data-background-color=green]{background-color:#00b84a}.card .image{overflow:hidden;height:200px;position:relative}.card .avatar{width:30px;height:30px;overflow:hidden;border-radius:50%;margin-bottom:15px}.card label{font-size:.8571em;margin-bottom:5px;color:#9a9a9a}.card .card-footer{background-color:transparent;border:0}.card .card-footer .stats i{margin-right:5px;position:relative;top:2px}.card .card-footer .btn{margin:0}.card-plain{background:transparent;box-shadow:none}.card-plain .card-footer,.card-plain .card-header{margin-left:0;margin-right:0;background-color:transparent}.card-plain:not(.card-subcategories).card-body{padding-left:0;padding-right:0}.card-chart .card-header .card-title{margin-top:10px;margin-bottom:0}.card-chart .card-header .card-category{margin-bottom:5px}.card-chart .table{margin-bottom:0}.card-chart .table td{border-top:none;border-bottom:1px solid #e9ecef}.card-chart .card-progress{margin-top:30px}.card-chart .chart-area{height:190px;width:calc(100% + 30px);margin-left:-15px;margin-right:-15px}.card-chart .card-footer{margin-top:15px}.card-chart .card-footer .stats{color:#9a9a9a}.card-chart .dropdown{position:absolute;right:20px;top:20px}.card-chart .dropdown .btn{margin:0}.card-user .image{height:120px}.card-user .author{text-align:center;text-transform:none;margin-top:-77px}.card-user .author a+p.description{margin-top:-7px}.card-user .avatar{width:124px;height:124px;border:1px solid #fff;position:relative}.card-user .card-body{min-height:240px}.card-user hr{margin:5px 15px}.card-user .button-container{margin-bottom:6px;text-align:center}.map{height:500px}@media screen and (max-width:991px){.profile-photo .profile-photo-small{margin-left:-2px}.button-dropdown{display:none}[data-notify=container].alert{min-width:400px}#minimizeSidebar{display:none}.timeline>li>.timeline-panel{width:86%!important;float:right!important}.timeline:before,.timeline>li>.timeline-badge{left:5%!important}.timeline>li>.timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto!important}.timeline>li>.timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto!important}.timeline>li:not(.timeline-inverted)>.timeline-panel:after,.timeline>li:not(.timeline-inverted)>.timeline-panel:before{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);transform:rotate(180deg)}.navbar .container-fluid{padding-right:15px;padding-left:15px}.navbar .navbar-collapse .input-group{margin:5px 0 0}.navbar .navbar-nav .nav-item:first-child{margin-top:10px}.navbar .navbar-nav .nav-item:not(:last-child){margin-bottom:10px}.navbar .dropdown.show .dropdown-menu{display:block}.navbar .dropdown .dropdown-menu{display:none}.navbar .dropdown .dropdown-menu,.navbar .dropdown.show .dropdown-menu{background-color:transparent;border:0;transition:none;box-shadow:none;width:auto;margin:0 1rem}.navbar .dropdown .dropdown-menu:before,.navbar .dropdown.show .dropdown-menu:before{display:none}.navbar .dropdown-menu .dropdown-item:focus,.navbar .dropdown-menu .dropdown-item:hover{color:#fff}.navbar.bg-white .dropdown-menu .dropdown-item:focus,.navbar.bg-white .dropdown-menu .dropdown-item:hover{color:#888}.navbar.bg-white:not(.navbar-transparent) .navbar-toggler-bar{background-color:#888}.wrapper{transition:all .5s cubic-bezier(.685,.0473,.346,1)}.sidebar{box-shadow:none}#bodyClick{height:100%;width:100%;position:fixed;opacity:1;top:0;right:0;left:260px;content:"";z-index:9999;overflow-x:hidden;background-color:transparent;transition:all .5s cubic-bezier(.685,.0473,.346,1)}.footer .copyright{text-align:right}.section-nucleo-icons .icons-container{margin-top:65px}.navbar-nav .nav-link i.fa,.navbar-nav .nav-link i.now-ui-icons{opacity:.5}.bootstrap-navbar,.sidebar{position:fixed;display:block;top:0;height:100%;width:260px;right:auto;left:0;z-index:1032;visibility:visible;overflow-y:visible;padding:0;transition:all .5s cubic-bezier(.685,.0473,.346,1);transform:translate3d(-260px,0,0)}.bar1,.bar2,.bar3{outline:1px solid transparent}.bar1{top:0;-webkit-animation:topbar-back .5s linear 0s;animation:topbar-back .5s 0s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.bar2{opacity:1}.bar3{bottom:0;-webkit-animation:bottombar-back .5s linear 0s;animation:bottombar-back .5s 0s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.toggled .bar1{top:6px;-webkit-animation:topbar-x .5s linear 0s;animation:topbar-x .5s 0s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.toggled .bar2{opacity:0}.toggled .bar3{bottom:6px;-webkit-animation:bottombar-x .5s linear 0s;animation:bottombar-x .5s 0s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}@keyframes topbar-x{0%{top:0;transform:rotate(0deg)}45%{top:6px;transform:rotate(145deg)}75%{transform:rotate(130deg)}to{transform:rotate(135deg)}}@-webkit-keyframes topbar-x{0%{top:0;-webkit-transform:rotate(0deg)}45%{top:6px;-webkit-transform:rotate(145deg)}75%{-webkit-transform:rotate(130deg)}to{-webkit-transform:rotate(135deg)}}@keyframes topbar-back{0%{top:6px;transform:rotate(135deg)}45%{transform:rotate(-10deg)}75%{transform:rotate(5deg)}to{top:0;transform:rotate(0)}}@-webkit-keyframes topbar-back{0%{top:6px;-webkit-transform:rotate(135deg)}45%{-webkit-transform:rotate(-10deg)}75%{-webkit-transform:rotate(5deg)}to{top:0;-webkit-transform:rotate(0)}}@keyframes bottombar-x{0%{bottom:0;transform:rotate(0deg)}45%{bottom:6px;transform:rotate(-145deg)}75%{transform:rotate(-130deg)}to{transform:rotate(-135deg)}}@-webkit-keyframes bottombar-x{0%{bottom:0;-webkit-transform:rotate(0deg)}45%{bottom:6px;-webkit-transform:rotate(-145deg)}75%{-webkit-transform:rotate(-130deg)}to{-webkit-transform:rotate(-135deg)}}@keyframes bottombar-back{0%{bottom:6px;transform:rotate(-135deg)}45%{transform:rotate(10deg)}75%{transform:rotate(-5deg)}to{bottom:0;transform:rotate(0)}}@-webkit-keyframes bottombar-back{0%{bottom:6px;-webkit-transform:rotate(-135deg)}45%{-webkit-transform:rotate(10deg)}75%{-webkit-transform:rotate(-5deg)}to{bottom:0;-webkit-transform:rotate(0)}}@-webkit-keyframes fadeIn{0%{opacity:0}to{opacity:1}}@keyframes fadeIn{0%{opacity:0}to{opacity:1}}.navbar-toggler-bar{display:block;position:relative;width:22px;height:1px;border-radius:1px;background:#fff}.navbar-toggler-bar+.navbar-toggler-bar{margin-top:7px}.navbar-toggler-bar+.navbar-toggler-bar.navbar-kebab{margin-top:3px!important}.navbar-toggler-bar.bar2{width:17px;transition:width .2s linear}.main-panel{width:100%}.navbar-toggle,.navbar-toggle .navbar-toggler{display:block!important}.navbar .toggled .navbar-toggler-bar{width:24px}.navbar .toggled .navbar-toggler-bar+.navbar-toggler-bar{margin-top:5px}.nav-open .main-panel{right:0;transform:translate3d(260px,0,0)}.nav-open .sidebar{transform:translateZ(0);box-shadow:0 2px 22px 0 rgba(0,0,0,.2),0 2px 30px 0 rgba(0,0,0,.35)}.nav-open body{position:relative;overflow-x:hidden}.nav-open .menu-on-right .main-panel{transform:translate3d(-260px,0,0)}.nav-open .menu-on-right .navbar-collapse,.nav-open .menu-on-right .sidebar{transform:translateZ(0)}.nav-open .menu-on-right .navbar-translate{transform:translate3d(-300px,0,0)}.nav-open .menu-on-right #bodyClick{right:260px;left:auto}.menu-on-right .sidebar{left:auto;right:0;transform:translate3d(260px,0,0)}}@media screen and (min-width:992px){.navbar-collapse{background:none!important}.navbar .navbar-toggle{display:none}.navbar-nav .nav-link.profile-photo{padding:0;margin:7px .7rem}.section-nucleo-icons .icons-container{margin:0 0 0 auto}.dropdown-menu .dropdown-item{color:inherit}.footer .copyright{float:right;padding-right:15px}}@media screen and (max-width:768px){.nav-tabs{display:inline-block;width:100%;padding-left:100px;padding-right:100px;text-align:center}.nav-tabs .nav-item>.nav-link{margin-bottom:5px}.user-profile [class*=col-]{padding-left:15px!important;padding-right:15px!important}.card-stats [class*=col-] .statistics:after{display:none}.main-panel .content{padding-left:15px;padding-right:15px}.footer nav{display:block;margin-bottom:5px;float:none}.landing-page .section-story-overview .image-container:nth-child(2){margin-left:0;margin-bottom:30px}}@media screen and (max-width:576px){.navbar[class*=navbar-toggleable-] .container{margin-left:0;margin-right:0}[data-notify=container].alert{left:10px!important;right:10px!important;width:auto}.card-contributions .card-stats{flex-direction:column}.card-contributions .card-stats .bootstrap-switch{margin-bottom:15px}.footer .copyright{text-align:center}.section-nucleo-icons .icons-container i{font-size:30px}.section-nucleo-icons .icons-container i:nth-child(6){font-size:48px}.page-header .container h6.category-absolute{width:90%}}@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){.bootstrap-navbar,.sidebar{position:fixed;display:block;top:0;height:100%;width:260px;right:auto;left:0;z-index:1032;visibility:visible;overflow-y:visible;padding:0;transition:all .5s cubic-bezier(.685,.0473,.346,1);transform:translate3d(-260px,0,0)}.bar1,.bar2,.bar3{outline:1px solid transparent}.bar1{top:0;-webkit-animation:topbar-back .5s linear 0s;animation:topbar-back .5s 0s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.bar2{opacity:1}.bar3{bottom:0;-webkit-animation:bottombar-back .5s linear 0s;animation:bottombar-back .5s 0s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.toggled .bar1{top:6px;-webkit-animation:topbar-x .5s linear 0s;animation:topbar-x .5s 0s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.toggled .bar2{opacity:0}.toggled .bar3{bottom:6px;-webkit-animation:bottombar-x .5s linear 0s;animation:bottombar-x .5s 0s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}@keyframes topbar-x{0%{top:0;transform:rotate(0deg)}45%{top:6px;transform:rotate(145deg)}75%{transform:rotate(130deg)}to{transform:rotate(135deg)}}@-webkit-keyframes topbar-x{0%{top:0;-webkit-transform:rotate(0deg)}45%{top:6px;-webkit-transform:rotate(145deg)}75%{-webkit-transform:rotate(130deg)}to{-webkit-transform:rotate(135deg)}}@keyframes topbar-back{0%{top:6px;transform:rotate(135deg)}45%{transform:rotate(-10deg)}75%{transform:rotate(5deg)}to{top:0;transform:rotate(0)}}@-webkit-keyframes topbar-back{0%{top:6px;-webkit-transform:rotate(135deg)}45%{-webkit-transform:rotate(-10deg)}75%{-webkit-transform:rotate(5deg)}to{top:0;-webkit-transform:rotate(0)}}@keyframes bottombar-x{0%{bottom:0;transform:rotate(0deg)}45%{bottom:6px;transform:rotate(-145deg)}75%{transform:rotate(-130deg)}to{transform:rotate(-135deg)}}@-webkit-keyframes bottombar-x{0%{bottom:0;-webkit-transform:rotate(0deg)}45%{bottom:6px;-webkit-transform:rotate(-145deg)}75%{-webkit-transform:rotate(-130deg)}to{-webkit-transform:rotate(-135deg)}}@keyframes bottombar-back{0%{bottom:6px;transform:rotate(-135deg)}45%{transform:rotate(10deg)}75%{transform:rotate(-5deg)}to{bottom:0;transform:rotate(0)}}@-webkit-keyframes bottombar-back{0%{bottom:6px;-webkit-transform:rotate(-135deg)}45%{-webkit-transform:rotate(10deg)}75%{-webkit-transform:rotate(-5deg)}to{bottom:0;-webkit-transform:rotate(0)}}@-webkit-keyframes fadeIn{0%{opacity:0}to{opacity:1}}@keyframes fadeIn{0%{opacity:0}to{opacity:1}}.navbar-toggler-bar{display:block;position:relative;width:22px;height:1px;border-radius:1px;background:#fff}.navbar-toggler-bar+.navbar-toggler-bar{margin-top:7px}.navbar-toggler-bar+.navbar-toggler-bar.navbar-kebab{margin-top:3px!important}.navbar-toggler-bar.bar2{width:17px;transition:width .2s linear}.main-panel{width:100%}.navbar-toggle,.navbar-toggle .navbar-toggler{display:block!important}.navbar .toggled .navbar-toggler-bar{width:24px}.navbar .toggled .navbar-toggler-bar+.navbar-toggler-bar{margin-top:5px}.nav-open .main-panel{right:0;transform:translate3d(260px,0,0)}.nav-open .sidebar{transform:translateZ(0)}.nav-open body{position:relative;overflow-x:hidden}.nav-open .menu-on-right .main-panel{transform:translate3d(-260px,0,0)}.nav-open .menu-on-right .navbar-collapse,.nav-open .menu-on-right .sidebar{transform:translateZ(0)}.nav-open .menu-on-right .navbar-translate{transform:translate3d(-300px,0,0)}.nav-open .menu-on-right #bodyClick{right:260px;left:auto}.menu-on-right .sidebar{left:auto;right:0;transform:translate3d(260px,0,0)}.navbar-minimize{display:none}.sidebar{box-shadow:none}.nav-open .sidebar{box-shadow:0 2px 22px 0 rgba(0,0,0,.2),0 2px 30px 0 rgba(0,0,0,.35)}.main-panel,.sidebar,.sidebar-wrapper{transition-property:all;transition-duration:.5s;transition-timing-function:cubic-bezier(.685,.0473,.346,1);-webkit-overflow-scrolling:touch}}